.nl-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color:#333;
}

.header-title {
  font-size: 24pt;
  margin: 0.5em;
  color: lightgray;
}

.btn-update {
  height: 2em;
  width: 2em;
  border-radius: 1em;
  padding: 0.25em;
  color: #0a0;
  background-color: rgba(255, 255, 255, 0);
  border: 1px solid #0a0;
}
.btn-update:focus {
  outline:none;
}